$nav-off-canvas-width: 265px;
$nav-off-canvas-width-goto: -265px;

* {
    // @include transform(translate3d(0,0,0));
}
#inner-wrap {
    z-index: 100;
}
#top {
    top: 0 !important;
    display: block;
}

.social-stories {
    margin: 0 6%;
}

@media screen and (max-width: 768px) {
    .social-stories {
        margin: 0%;
    }
}

#nav:before {
    content: "";
    @include background(linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%));
    top: 0;
    right: -1px;
    width: 8px;
    height: 100%;
    z-index: 100;
    position: absolute;

}
#nav {
    position: absolute;
    top: 0;
    overflow: hidden;
/* padding-top: pem(84); */

    // .no-js on step 2?

    &:not(:target) {
/* z-index: 1; */
        height: 0;
    }

    &:target {
        .close-btn {
            display: block;
        }
    }

    .close-btn {
        position: absolute;
        top: pem(-60);
        left: pem(30);
    }

    .block {
        position: relative;
        padding: 0;
    }

    .block-title {
        display: none;
    }

    ul {
        position: relative;
        display: block;
    }

        .nav > li.not-active:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 17px;
        width: 15px;
        height: 21px;
        background: url("../images/large_blue_arrow.png") no-repeat;
        background-size: 15px 21px;
    }

    .nav > li.not-active:hover:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 17px;
        width: 15px;
        height: 21px;
        background: url("../images/large_white_arrow.png") no-repeat;
        background-size: 15px 21px;
    }

    .nav > li.is-active:after {
        content: "";
        position: absolute;
        top: 29px;
        right: 15px;
        width: 21px;
        height: 15px;
        background: url("../images/large_white_arrow_down.png") no-repeat;
        background-size: 21px 15px;
    }

    .nav > li.is-active > a {
        color: white;
        background-color: #16374e;
    }

    .nav > li.is-active:hover:after {
        content: "";
        position: absolute;
        top: 29px;
        right: 15px;
        width: 21px;
        height: 15px;
        background: url("../images/large_white_arrow_down.png") no-repeat;
        background-size: 21px 15px;
    }

    //--------------------------------------------//
    //--------------------------------------------//
    //--------------------------------------------//
    //--------------------------------------------//
    //--------------------------------------------//
    //--------------------------------------------//
    //--------------------------------------------//

    .nav-vehicles > li {
        background-color: #f2f2f2;
    }

    .nav-vehicles > li.not-active:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 17px;
        width: 15px;
        height: 21px;
        background: url("../images/large_blue_arrow.png") no-repeat;
        background-size: 15px 21px;
    }

    .nav-vehicles > li.not-active:hover:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 17px;
        width: 15px;
        height: 21px;
        background: url("../images/large_white_arrow.png") no-repeat;
        background-size: 15px 21px;
    }

    .nav-vehicles > li.is-active:after {
        content: "";
        position: absolute;
        top: 29px;
        right: 15px;
        width: 21px;
        height: 15px;
        background: url("../images/large_white_arrow_down.png") no-repeat;
        background-size: 21px 15px;
    }

    .nav-vehicles > li.is-active a {
        background-color: #2495cf;
        color: white;
    }

    .nav-vehicles > li.is-active:hover:after {
        content: "";
        position: absolute;
        top: 29px;
        right: 15px;
        width: 21px;
        height: 15px;
        background: url("../images/large_white_arrow_down.png") no-repeat;
        background-size: 21px 15px;
    }

    li {
        position: relative;
        background-color: white;
/* border-top: 1px solid rgba(255,255,255, 0.1); */


        a {
/* padding: pem(12, 14) pem(30, 14); */
            border-top: none;
            border-bottom: 1px solid #dfdfdf;
        }

        ul {

            position: relative;

            a {
                border-top: none;
                border-bottom: 1px solid #dfdfdf;
            }

            a:hover {
                background: $cta_blue;
            }

            ul h3 {
                position: absolute;
                top: 14px;
                left: 135px;
                color: $cta_blue;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;

            }

            // .nav-vehicles-cars > li:after {
            //     position: absolute;
            //     top: 31px;
            //     right: 12px;
            //     width: 12px;
            //     height: 23px;
            //     background: url("../images/blue_arrow.png") no-repeat;
            //     background-size: 12px 23px;
            //     content: "";

            // }

            .car-info {
                position: relative;
                display: block;
                border: none;
                color: #435966;
                text-transform: uppercase;
                font-weight: bold;

                li:nth-child(2),
                li:nth-child(3) {
                    display: none;
                }

                li:nth-child(1) {
                    position: absolute;
                    top: -25px;
                    left: 140px;
                    font-size: 10px;
                }

                li:nth-child(1) span {
                    position: absolute;
                    top: -27px;
                    left: -5px;
                    font-size: 24px;
                }

                em {
                    font-weight: normal;
                }

                sup {
                    font-size: 60%;
                }

                li {
                    border: none;
                }
            }

            ul li {
                border-bottom: 1px solid #e1e1e1;
            }

            ul img {
                margin: 8px 0 8px -15px;
                width: 145px;
            }
        }
    }

    #vehicles a:target #vehicles ul {
       display: block;
    }

    #mustang-navigation {
        position: relative;

        z-index: 1;

        &:after {
            background: none;
        }

        a {
            z-index: -100;
            border-bottom: 1px solid #062436;
            background: #18384d;
            background-image: none;
            color: white;
            font-weight: normal;
            font-size: 13px;
        }

        & > a {
            padding-top: 19px;
            padding-bottom: 14px;
            text-transform: uppercase;
        }


        ul {
            z-index: -100;
            display: block;

            a {
                padding: 10px 10px 10px 23px;
                border: none;
                color: #82959f;
                font-weight: normal;
            }

            .sub-active a {
                color: white;
            }

            a {
                padding: 10px 10px 10px 23px;
                border: none;
                color: #82959f;
                font-weight: normal;
            }

            a:hover {
                color: white;
            }

            li:first-child {
                border-top: 1px solid #115172;
            }

            li:first-child a {
                padding-top: 20px;
            }

            li.micro-tab a {

                span {
                    margin-left: 10px;
                    padding: 4px 8px;
                    border-radius: 5px;
                    background: #304b5d;
                    color: white;
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }

            li:last-child {
                background: none;
            }

             li:nth-last-child(2) a {
                padding-bottom: 20px;
            }

            li:last-child a {
                position: relative;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 48px;
                background: #2d9bd4;
                color: white;
                font-size: 12px;
            }

            li:last-child a:before {
                position: absolute;
                top: 11px;
                left: 14px;
                display: inline-block;
                width: 21px;
                height: 21px;
                background: url("../images/gear.png") no-repeat;
                background-size: 100%;
                content: "";
            }

        }
    }
}



@if ($step > 1) {

    .js-ready {

        #nav {
            // @include box-shadow(inset pem(-15) 0 pem(20) pem(-12) rgba(0,0,0, 0.20));
            width: $nav-off-canvas-width;
            height: 100%;
            background: white;

            .block {
                background: transparent;
            }

            .close-btn {
                @include opacity(0.7);
                display: block;

                &:focus,
                &:hover {
                    @include opacity(1);
                }
            }
        }
    }

} // end @if ($step > 1)


.map-header {
    // margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin: 0;
    padding: 20px;

    .h2-strong {
        display: block;
    }
}

@media screen and (min-width: 480px) {
    .map-header {
        // margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin: 0;
        padding: 20px;

        .h2-strong {
            display: inline-block;
        }
    }
}

.new-featured {
    margin-bottom: 5px;
}

.videos-title .h2-alt {
    margin-left: 10%;
}

@if ($step > 1) {

    .js-ready {

        #nav {
            left: (0 - $nav-off-canvas-width);
        }

        #inner-wrap {
            left: 0;
        }
    }

    .js-nav {

        #inner-wrap {
            left: $nav-off-canvas-width - 100px;
        }
    }

} // end @if ($step > 1)

@if ($step > 2) {

    .csstransforms3d.csstransitions.js-ready {

        #nav {
            @include transform(translate3d(-100%,0,0));
            @include backface-visibility(hidden);
            left: 0;
        }

        #inner-wrap {
            @include transform(translate3d(0,0,0));
            @include transition(transform 500ms ease);
            @include backface-visibility(hidden);
            left: 0 !important;
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #inner-wrap {
            @include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));
        }
    }

} // end @if ($step > 2)


@if ($step > 3) {

    .csstransforms3d.csstransitions.js-ready {

        #nav {

            .block {
                @include opacity(0.1);
                @include transform(translate3d(0,0,0) scale3d(1, 1, 1));
                @include transform-origin(-100%, 0%);
                @include transition(opacity 300ms 100ms ease);
            }
        }
    }

    .csstransforms3d.csstransitions.js-nav {

        #nav {

            .block {
                @include opacity(1);
                @include transform(translate3d(0,0,0));
            }
        }
    }

} // end @if ($step > 3)