$step: 4;
@import "tools";
@import "base";
@import "fonts";
@import "flexslider";
@import "screen";
@media screen and (min-width: 1382px) {
    @import "screen_huge";
}

@media screen and (min-width: 1025px) {
    @import "screen_large";
}
@media screen and (min-width: 768px) {
    @import "screen_medium";
}
@media screen and (max-width: 767px) {
    @import "screen_small";
}
@media screen and (max-width: 570px) {
    .rating-feature-container {
        display: none !important;
    }
    .vehicle-info-container.vehicle-info-hide {
        display: none;
    }
}
@import "jquery.rs.carousel";
@import "jquery.rs.carousel-touch";
@import "step1";

.grid-row {
    -webkit-transform: translate3d(0, 0, 0);
    transform: transform3d(0, 0, 0);
}

.car-info em {
    font-weight: bold;
}

#mustang-link {
    cursor: pointer;
}
